<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="https://jakarta.ee/xml/ns/jakartaee"
	xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd"
	version="6.0">
	<servlet>
		<description></description>
		<display-name>loginservlet</display-name>
		<servlet-name>loginservlet</servlet-name>
		<servlet-class>LoginLogout.loginservlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>loginservlet</servlet-name>
		<url-pattern>/loginservlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>signupservlet</display-name>
		<servlet-name>signupservlet</servlet-name>
		<servlet-class>LoginLogout.signupservlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>signupservlet</servlet-name>
		<url-pattern>/signupservlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>cars</display-name>
		<servlet-name>cars</servlet-name>
		<servlet-class>products.productsServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>cars</servlet-name>
		<url-pattern>/cars</url-pattern>
	</servlet-mapping>
	<display-name>EECS4413project</display-name>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
		<welcome-file>home.jsp</welcome-file>
	</welcome-file-list>
	<servlet>
		<description></description>
		<display-name>productsServlet</display-name>
		<servlet-name>productsServlet</servlet-name>
		<servlet-class>products.productsServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>productsServlet</servlet-name>
		<url-pattern>/productsServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>filterProductServlet</display-name>
		<servlet-name>filterProductServlet</servlet-name>
		<servlet-class>products.filterProductServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>filterProductServlet</servlet-name>
		<url-pattern>/filterProductServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>productDetails</display-name>
		<servlet-name>productDetails</servlet-name>
		<servlet-class>products.productDetails</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>productDetails</servlet-name>
		<url-pattern>/productDetails</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>saleproductsServlet</display-name>
		<servlet-name>saleproductsServlet</servlet-name>
		<servlet-class>products.saleproductsServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>saleproductsServlet</servlet-name>
		<url-pattern>/saleproductsServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>logoutservlet</display-name>
		<servlet-name>logoutservlet</servlet-name>
		<servlet-class>LoginLogout.logoutservlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>logoutservlet</servlet-name>
		<url-pattern>/logoutservlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>reviewServlet</display-name>
		<servlet-name>reviewServlet</servlet-name>
		<servlet-class>reviews.reviewServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>reviewServlet</servlet-name>
		<url-pattern>/reviewServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>ShoppingCart</display-name>
		<servlet-name>ShoppingCart</servlet-name>
		<servlet-class>Cart.ShoppingCart</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ShoppingCart</servlet-name>
		<url-pattern>/ShoppingCart</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>UserReportServlet</display-name>
		<servlet-name>UserReportServlet</servlet-name>
		<servlet-class>adminFunctions.UserReportServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>UserReportServlet</servlet-name>
		<url-pattern>/UserReportServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>ApplicationReportServlet</display-name>
		<servlet-name>ApplicationReportServlet</servlet-name>
		<servlet-class>adminFunctions.ApplicationReportServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ApplicationReportServlet</servlet-name>
		<url-pattern>/ApplicationReportServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>MarkSoldVehicleServlet</display-name>
		<servlet-name>MarkSoldVehicleServlet</servlet-name>
		<servlet-class>adminFunctions.MarkSoldVehicleServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>MarkSoldVehicleServlet</servlet-name>
		<url-pattern>/MarkSoldVehicleServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>removeFromCart</display-name>
		<servlet-name>removeFromCart</servlet-name>
		<servlet-class>Cart.removeFromCart</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>removeFromCart</servlet-name>
		<url-pattern>/removeFromCart</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>ChatBotServlet</display-name>
		<servlet-name>ChatBotServlet</servlet-name>
		<servlet-class>chatBot.ChatBotServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ChatBotServlet</servlet-name>
		<url-pattern>/ChatBotServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>CheckoutServlet</display-name>
		<servlet-name>CheckoutServlet</servlet-name>
		<servlet-class>Checkout.CheckoutServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>CheckoutServlet</servlet-name>
		<url-pattern>/CheckoutServlet</url-pattern>
	</servlet-mapping>

	<error-page>
		<error-code>404</error-code>
		<location>/errorPages/page404.jsp</location>
	</error-page>
	<error-page>
		<error-code>500</error-code>
		<location>/errorPages/page500.jsp</location>
	</error-page>

</web-app>