@charset "ISO-8859-1";
form {
	margin: 20px 0;
	padding: 20px;
	background-color: #f5f5f5;
}

form label {
	display: block;
	margin-bottom: 10px;
}

form select, form textarea {
	width: 100%;
	padding: 10px;
	margin-bottom: 15px;
	border: 1px solid #ddd;
	border-radius: 5px;
	font-size: 16px;
}

form select {
	height: 40px;
}

form textarea {
	height: 120px;
	width: 98%;
}

form input[type="submit"] {
	background-color: #84A98C;
            color: white;
            border: none;
            padding: 10px 20px;
            font-size: 1.1rem;
            border-radius: 5px;
            cursor: pointer;
            transition: background-color 0.3s;
}

form input[type="submit"]:hover {
	background-color: #333; 
}

#reviews {
	margin-top: 20px;
	padding: 20px;
	background-color: #f5f5f5;
}

#reviews h2 {
	color: #333;
}

#reviews ul {
	list-style-type: none;
	padding: 0;
}

#reviews li {
	border: 1px solid #ddd;
	padding: 10px;
	margin-bottom: 10px;
	background-color: #fff;
}

#reviews h3 {
	font-weight: bold;
	margin-bottom: 10px;
}

#reviews p {
	margin: 0;
}

body {
	font-family: Arial, sans-serif;
	background-color: #f0f0f0;
	margin: 0;
	padding: 0;
}



.container {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	width: 600px;
	margin: 0 auto;
	padding: 20px;
}

#itemContainer ul {
	list-style-type: none;
	padding: 0;
	width: 600px;
}
#itemContainer {
	padding: 30px;
	width: 1200px;
	margin: 30px auto;

	flex: 0 0 calc(33.33% - 20px);

	background-color: #fAfAfA;
	border: 1px solid #ddd;
	border-radius: 5px;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);

	
	transition: box-shadow 0.3s, transform 0.3s;
	margin-top:100px;
}

.product-image {
    max-width: 200%; 
    max-height: 600px; 
    object-fit:cover;
    display: block;
    margin: 0 auto; 
    border-radius: 5px;
}
.item-content{
		background-color: #f5f5f5;
			
	padding: 30px;
}


 select {
  min-width: 200px;
  position: relative;
}

select {
  appearance: none;

  -webkit-appearance: none;
    background-image: url('https://cdn1.iconfinder.com/data/icons/arrows-vol-1-5/24/dropdown_arrow2-512.png');
    background-size: 15px 15px;
  background-repeat: no-repeat;
  background-position: right 10px center;

  width: 50%;
  font-size: 1.15rem;
  padding: 0.675em 6em 0.675em 1em;
  background-color: #fff;
  border: 1px solid #caced1;
  border-radius: 0.25rem;
  color: #000;
  cursor: pointer;
}

select::before,
select::after {
  --size: 0.3rem;
  content: "";
  position: absolute;
  right: 1rem;
  pointer-events: none;
}

select::before {
  border-left: var(--size) solid transparent;
  border-right: var(--size) solid transparent;
  border-bottom: var(--size) solid black;
  top: 40%;
}

select::after {
  border-left: var(--size) solid transparent;
  border-right: var(--size) solid transparent;
  border-top: var(--size) solid black;
  top: 55%;
}



