@charset "ISO-8859-1";
#navbar {
    background-color: #000; 
    color: white;
    padding: 10px 10px;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
}

.nav-container {
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-logo {
    font-weight: bold;
    font-size: 28px;
    color: #fff;
    text-decoration: none;
}

.nav-menu {
    list-style-type: none;
    display: flex;
    margin: 0;
    padding: 0;
}

.nav-menu li {
    padding: 0 15px;
}

.nav-menu li a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    transition: color 0.3s;
      font-size: 20px;
}

.nav-menu li a:hover {
    color: #669bbc;
}