@charset "ISO-8859-1";


body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; 
}



main {
    background-color: white;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    width: 600px; 
    font-size: 1.5em;
}


form {
    margin: 0 auto;
}

fieldset {
    border: none;
    padding: 0;
    margin: 0;
}

legend {
    font-size: 1.4em;
    margin-bottom: 20px;
}

label {
    display: block;
    width: 100%;
    margin-bottom: 10px;
}


#price,#term,#tax,#down {
    width: calc(100% - 22px); 
    padding: 10px;
    margin: 10px;
    border: 1px solid #ddd;
    box-sizing: border-box;
    display: inline-block;
    
    border-radius: 5px;
  
}


#PricingSubmit {
    background-color: #669bbc;
    color: white;
    cursor: pointer;
    border: none;
    font-size: 1em;
    width: 96%;
}






#error {
    color: red;
    margin-top: 10px;
}
