@charset "ISO-8859-1";


body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

header, footer {
    text-align: center;
    padding: 20px;
}


.calculator-results {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin: 20px;
    width: 700px; 
    
    text-align: center;
}

fieldset {
    border: 1px solid #ddd;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 20px;
}

legend {
    font-size: 2em;
    font-weight: bold;
    color: #669bbc;
    margin-bottom: 15px;
}


.calculator-results p {
    font-size: 1.5rem;
    color: #333;
    margin: 8px 0;
    text-align: left;
}

.calculator-results p.label {
    font-weight: bold;
    margin-top: 15px;
    color: #555;
}

.calculator-results p.value {
    margin-left: 20px;
}


button {
    background-color: #669bbc;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1.5rem;
    display: block;
    width: 100%;
    margin-top: 30px;
}


