@charset "ISO-8859-1";
body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}


.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

#itemContainer {
    display: flex;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: 0 auto;
}

.card {
    flex: 0 0 calc(33.33% - 20px);
    margin: 10px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    text-align: center;
    padding: 20px;
    transition: box-shadow 0.3s, transform 0.3s;
    width: 31%; 
    box-sizing: border-box; 
}

.card:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transform: translateY(-5px);
}

.card img {
    max-width: 100%;
    height: 200px; 
    object-fit: cover;
    margin: 0 auto;
    display: block;
}

.card h3 {
    font-size: 1.5rem;
    margin: 0;
}

.card p {
    font-size: 1.2rem;
    color: #555;
}
    
.original-price {
    text-decoration: line-through; 
    color: #999; 
    margin-right: 5px; 
}